.container{style: "padding-top: 5%;"}
  .hero-unit
    = image_tag "branding/logo.png"
    %hr/
    %p
      %b Vous êtes sur le point de changer Internet en utilisant un réseau social Anonyme.
      %br
      %b Rejoignez-nous et récupérez votre liberté, votre vie privée et vos données Yunohost et Diaspora* !
    %p
      = link_to "Créer un compte ! »", new_user_registration_path, class: "btn btn-primary btn-large"
  .row
    .span4
      %h2 Diaspora
      %p Découvrez l'ambition du projet pour créer un réseau social universel où vous gardez le contrôle.
      %p
        %a.btn{:href => "https://diasporafoundation.org/"} Fondation Diaspora »
    .span4
      %h2 Auto-hébergez-vous
      %p Le site (Pod) sur lequel vous êtes est propulsé par Yunohost. Une distribution simple d'outils libres pour créer votre propre "Cloud" !
      %p
        %a.btn{:href => "https://yunohost.org/"} Yunohost »
    .span4
      %h2 Créez votre "Pod"
      %p A l'aide de Yunohost et de son application Diaspora, hébergez simplement votre "Pod".
      %p
        %a.btn{:href => "https://github.com/aymhce/diaspora_ynh"} Application Diaspora pour Yunohost »
