.container{style: "padding-top: 5%;"}
  .hero-unit
    %h2 diaspora*
    %hr/
    %p
      %b Vous êtes sur le point de changer Internet en utilisant un réseau social anonyme et distribué.
      %br
      %b Rejoignez-nous et récupérez votre liberté, votre vie privée et vos données avec YunoHost et diaspora* !
    %p
      = link_to "Créer un compte ! »", new_user_registration_path, class: "btn btn-primary btn-large"
  .row
    .span4
      %h2 diaspora*
      %p Découvrez l'ambition du projet pour créer un réseau social universel où vous gardez le contrôle.
      %p
        %a.btn{:href => "https://diasporafoundation.org/"} Fondation Diaspora »
    .span4
      %h2 Auto-hébergez-vous
      %p Le site (pod) sur lequel vous êtes est propulsé par YunoHost. Une distribution simple basée sur des outils libres pour créer votre propre "cloud" !
      %p
        %a.btn{:href => "https://yunohost.org/"} YunoHost »
    .span4
      %h2 Créez votre "Pod"
      %p A l'aide de Yunohost et de son application diaspora*, hébergez simplement votre "pod".
      %p
        %a.btn{:href => "https://github.com/aymhce/diaspora_ynh"} Application diaspora* pour YunoHost »
