[Unit]
Description=Diaspora social network (sidekiq - instance __APP__)
PartOf=__APP__.target

[Service]
User=__APP__
Environment=RAILS_ENV=production
WorkingDirectory=__FINALPATH__/diaspora
ExecStart=/bin/bash -lc "bin/bundle exec sidekiq"
Restart=always

[Install]
WantedBy=__APP__.target
